@media(max-width: 1178px){
    .header-main-quest__list{
        display: none;
    }
    .header-main-search{
        width: 100%;
    }
    .header-main-quest__inner{
        height: 130px;
        flex-direction: column;
        justify-content: center;
    }
    .header-bottom__navigation{
        overflow-x: scroll;
        padding-bottom: 10px;
    }
    .bottom-list li{
        flex: 0 0 175px;
    }
    .product-item {
        margin-bottom: 15px;
    }
}
@media(max-width: 750px){
    .header-top__inner{
        display: none;
    }
}